body {
  background-color: #040425;
}

#app {
  margin-top: 30px;
  height: 400px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  display: none;
}

.form_element {
  margin-top: 20px;
}

.title {
  text-align: center;
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

#success_message {
  font-size: 12px;
  background-color: #d5ffd5;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid green;
  display: none;
}
